.gradle/
.idea/
build/

out/
iBeacon.iml

*.log

generated_beacons.txt

hibernate-log.txt

*.ipr

*.iws
src/main/java/com/aemreunal/config/DatabaseSettings.java

data/

src/test/resources/datasets/

log.txt
log.txt.lck
