.gradle/
.idea/
build/
data/
out/
*.iml
*.log

hibernate-log.txt

*.ipr

*.iws

src/main/java/com/aemreunal/config/DatabaseSettings.java
DevResources/

src/test/resources/datasets/

log.txt
log.txt.lck

Docker/Tomcat entropy problem.txt
*.txt.1
